{% extends 'base.html' %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-4">欢迎使用社团考勤系统</h1>
    <p class="lead">这是一个简单的考勤及分数计算系统。</p>
    <hr class="my-4">
    {% if user.is_authenticated %}
        <p>你好，{{ user.get_full_name|default:user.username }}！</p>
        {% if user.student_profile %}
            <a class="btn btn-primary btn-lg" href="{% url 'attendance_home' %}" role="button">查看我的考勤</a> <!-- B同学后续会添加链接 -->
        {% elif user.teacher_profile %}
            <a class="btn btn-success btn-lg" href="{% url 'meeting_create' %}" role="button">教师签到面板</a> <!-- B同学后续会添加链接 -->
        {% else %}
            <a class="btn btn-info btn-lg" href="/admin" role="button">进入管理后台</a>
        {% endif %}
    {% else %}
        <p>请先登录或注册。</p>
        <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">登录</a>
        <a class="btn btn-secondary btn-lg" href="{% url 'register_choice' %}" role="button">注册</a>
    {% endif %}
</div>
{% endblock %}